.HeaderStyle {
    color: #080808;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.548);
    text-align: center;

    border: 10px solid black;
    border-radius: 50px;

    background-color: rgb(228, 215, 215);
    margin-bottom: 30px;
  }

  span {
    display: inline-block;
    padding: 10px; 
    border: 2px solid black; /* Set the border properties */
    border-radius: 2%;
  }

  .SendSeekumButtonStyle {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    color: #000000;
    background-color: antiquewhite;
  }
  .SendSeekumButtonStyle:hover {
    background-color: rgb(206, 159, 101);
  }
  .SendSeekumButtonStyle:active {
    background-color: rgb(255, 140, 0);
    border-color: aqua;
  }

  .SpansContainer {
    display: flex;
  }


  .InputSeekumNameStyle {
    width: 100px;
    padding: 10px;
  }

  .FileInputStyle {
    font-size: 15px;
    width: 200px;
    height: 25px;
    padding: 10px 20px;
    background-color: #767575;
    color: #333;
    border: none;
    cursor: pointer;
  }
  .FileInputStyle:hover {
    background-color: #3d3d3d;
  }
  .FormDivStyle {
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
  }