.HeaderStyle {
    color: #080808;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.548);
    text-align: center;

    border: 10px solid black;
    border-radius: 50px;

    background-color: rgb(228, 215, 215);
    margin-bottom: 30px;
  }

  .FormDescriptionDivStyle {
    font-size: 140%;
    margin-bottom: 5px;

  }
  span {
    width: 46%;
    height: 100%;
    display: inline-block;
    padding: 10px; 
    border: 5px solid black; /* Set the border properties */
    border-radius: 2%;
    background-color: aquamarine;
  }
  span:hover {
    background-color: rgb(152, 253, 197);
  }

  .FormSubjectSelectStyle {
    width: 200px;
    height: 30px;
    font-size: larger;
    background-color: #afafaf;
  }
  .FormSubjectSelectStyle:active {
    background-color: #797979;
  }


  .SendSeekumButtonStyle {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    height: 60px;
    color: #000000;
    background-color: aquamarine;
  }
  .SendSeekumButtonStyle:hover {
    background-color: rgb(49, 175, 133);
  }
  .SendSeekumButtonStyle:active {
    background-color: rgb(0, 109, 73);
    border-color: aqua;
  }

  .SpansContainer {
    display: flex;
  }


  .InputSeekumNameStyle {
    width: 80%;
    padding: 1%;
    background-color: #afafaf;
    color: #000000;
    font-size: x-large;
  }
  .InputSeekumNameStyle:hover {
    background-color: #797979;
  }
  .TextAreaNotesStyle {
    font-size: large;
    resize: none;
    width: 95%;
  }

  .FileInputStyle {
    font-size: 15px;
    width: 200px;
    height: 25px;
    padding: 10px 20px;
    background-color: #afafaf;
    color: #333;
    border: none;
    cursor: pointer;
  }
  .FileInputStyle:hover {
    background-color: #797979;
  }
  .FormDivStyle {
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
  }